<div class="container text-center">
  <h4 class="my-4">Discover Movies</h4>
  <%= link_to 'Find Top Rated Movies', user_movies_path(@user), class: "btn btn-secondary" %>
  <br><br>
  <%= form_with url: user_movies_path(@user), method: :get, local: true do %>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <div class="form-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search" %>
          </div>
        </div>
        <div class="col-auto">
          <%= submit_tag "Find Movies", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
  <br>
</div>