<nav class="navbar navbar-light bg-light d-flex justify-content-between align-items-center">
  <div class="navbar-brand mb-0 ms-3">
    <%= link_to 'Viewing Party', root_path, class: "text-muted text-decoration-none" %>
  </div>
</nav>